
bin/Debug/config.txt
bin/Debug/default.pal
bin/Debug/hdnesPackEditor.exe
bin/Debug/libgcc_s_dw2-1.dll
bin/Debug/libstdc++-6.dll
bin/Debug/SDL2.dll
bin/Debug/wxbase30u_gcc_custom.dll
bin/Debug/wxmsw30u_core_gcc_custom.dll
bin/Release/config.txt
bin/Release/default.pal
bin/Release/HDNes Graphics Pack Editor Tutorial.docx
bin/Release/hdnesPackEditor.exe
bin/Release/libgcc_s_dw2-1.dll
bin/Release/libstdc++-6.dll
bin/Release/SDL2.dll
bin/Release/wxbase30u_gcc_custom.dll
bin/Release/wxmsw30u_core_gcc_custom.dll
obj/Debug/condition.o
obj/Debug/coreData.o
obj/Debug/gameObjNode.o
obj/Debug/gameTile.o
obj/Debug/hdnesPackEditorcolourSelectDialog.o
obj/Debug/hdnesPackEditorimageDialog.o
obj/Debug/hdnesPackEditormainForm.o
obj/Debug/hdnesPackEditornewProjectDialog.o
obj/Debug/hdnesPackEditorpaletteDialog.o
obj/Debug/hdnesPackEditorreplacementDialog.o
obj/Debug/image.o
obj/Debug/main.o
obj/Debug/mainForm.o
obj/Debug/paletteSwap.o
obj/Debug/tileReference.o
obj/Release/condition.o
obj/Release/coreData.o
obj/Release/gameObjNode.o
obj/Release/gameTile.o
obj/Release/hdnesPackEditorcolourSelectDialog.o
obj/Release/hdnesPackEditorimageDialog.o
obj/Release/hdnesPackEditormainForm.o
obj/Release/hdnesPackEditornewProjectDialog.o
obj/Release/hdnesPackEditorpaletteDialog.o
obj/Release/hdnesPackEditorreplacementDialog.o
obj/Release/image.o
obj/Release/main.o
obj/Release/mainForm.o
obj/Release/paletteSwap.o
obj/Release/tileReference.o
bin/Release/HDNesPackEditor.7z
bin/Release/HDNesPackEditor.zip
bin/Release/LICENSE
